@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box; /*Inclui o margin e padding no calculo do tamanho*/
}
body {
    font-family: "Roboto", sans-serif;
    min-height: 100%;
    margin: 0;
    left: 0;
    width: 100vw;
}
header{
    background-color: #00796B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
}

.logo{
    max-width: 100%;
    padding-left: 41px;
}

ul{
    padding: 0;
    margin-right: 50px;
}

header ul li{
    font-size: 18px;
    display: inline;
    list-style: none;
    width: 56px;
    color: #fff;
    padding-left: 33px;  
    font-weight: 400;
}

header nav ul a{
    text-decoration: none;
}


.container{
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imagem_inicial img{
    max-width: 100%;
}

.conteudo_principal{
    max-width: 100%;
}

.container h1{
    max-width: 100%;
    font-size: 40px;
    color: #009688;
}

.container article p {
    max-width: 100%;
    width: 501px;
    font-size: 20px;
    line-height: 23px;
    color: #9B9B9B;
}

footer{
    /* position: absolute; */
    margin: 0px;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 5vh;
    color: #ffffff;
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 530px){
    p{
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
    }
    h1{
        text-align: center;
    }
}




/* div.copyright{
    align-content: flex-end;
} */

/* SOBRE */

.container_sobre{
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.container_sobre h1{
    width: 191px;
    max-width: 100%;
    font-size: 40px;
    color: #00796B;
    font-weight: 900;
}

.container_sobre article p, .sobre_lista{
    max-width: 100%;
    width: 501px;
    font-size: 20px;
    line-height: 23px;
    color: #9B9B9B;
}

.imagem_sobre{
    width: 575px;
    height: 410px;
    margin-top: 80px;
}

.subtit_sobre{
    color: #00796B; 
}

.subtit_sobre.center{
    text-align: center;
}

.sobre_video{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

@media (max-width: 615px){
    header nav ul a li{
        font-size: .75em;
    }
}

.tres_paragrafos_sobre p{
    color: #9B9B9B;
    display: flex;
    text-align: center;
    width: 58vw;
    margin-left: 21vw;
    margin-right: 21vw;
    margin-bottom: 74px;
}

/* SERVICOS*/


.container_servicos{
    min-height: 45vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container_servicos.com_titulo{
    display: flex;
    flex-direction: column;
}

.container_servicos.com_titulo .articles{
    display: flex;
    flex-direction: row;
}

.container_servicos h1{
    width: 191px;
    max-width: 100%;
    font-size: 40px;
    color: #00796B;
    font-weight: 900;
}

.container_servicos h2{
    width: 562px;
    max-width: 100%;
    /* font-size: 40px; */
    color: #00796B;
    font-weight: 900;
    margin-top: 30px;
}

.container_servicos article p{
    max-width: 100%;
    width: 562px;
    height: 216px;
    font-size: 24px;
    line-height: 23px;
    color: #9B9B9B;
    margin: 0;
}

.imagem_servicos img{
    max-width: 100%;
}

.tit_servicos{
    margin: 0;
}

.subtit_servicos{
    margin-bottom: 0;
}